.payment{
    padding: 35vh;

}
.pay{
    padding: 15px;
    text-align: center;
}
.adres{
    padding: 15px;
    text-align: center;
}
.buttonPay{
    padding: 15px;
    text-align: center;
}
table.paymentTable td, table.paymentTable tr, table.paymentTable th{
    border: 1px groove white;
    text-align: left;
}

.logoPay{
    width: 56%;
    padding-left: 18px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.paymentTable{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13vh;
}
.adresText{
    font-weight: bold;
    font-size: 20px
}