#pPrice{
	float: left;
	font-size: 25px;
	margin: 10px;
}
#addCart{
	float: right;
	margin: 10px;
	font-family: comic sans-serif;
	position: relative;
	left: 17px;
}
.listNameContainer{
	font-family: "magic";
	font-weight: bold;
	color: black;
	text-align: center;
}
.listName{
	font-weight: bold
}
.dropdown-toggle {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}