body {
  font-family: "comic sans-serif";
}

@font-face {
  font-family: "magic";
  src: url('./MAGIC.TTF')  format('truetype');
}
.fullPage {
	height : 95vh;
	overflow: auto;
}

.header {
	height: 5vh;
}
.hidden {
	display: none;
}
.banner{
  position: absolute;
  bottom: 68%;
}
.quoteEen{
  float: left;
  position: relative;
  top: 15px;
  left: 100px;
  display: none !important;
}
.cart{
  height: 50px;
  width: 50px;
  position: relative;
  bottom: 5px;
}
.price{
  font-weight: bold;
  font-family: comic sans-serif;
}
.search{
  top: 5px;
  position: relative;
}
.cardImage{
  width: 40%;
  height: 40%;
  float:left;
}
.details{
  position: relative;
  left: 71px;
  font-family: "magic";
}
.detail{
  margin: auto;
  width: 50%;
}
.detailsText{
  float: right;
  position: relative;
  right: 30px;
  width: 350px;
  height: 300px;
  font-family: comic sans-serif;
  font-size: larger;

}
nav.navbar.navbar-expand-lg.navbar-light.bg-dark.text-white.header {
  float: right !important;
  position: relative;
  right: 105px;
  top: 15px;
  font-family: "magic";
  font-size: larger;
}
.accordion {
  width: 100%;
  height: 450px;
  overflow: hidden;
  margin: 0px auto;
}

#laadDiv{
margin: auto;
width: 5%;
margin-top: 10%;
color:orange;
}

.TitleCard :hover{
	text-decoration: none !important;
}
