body {
  font-family: "comic sans-serif";
}

@font-face {
  font-family: "magic";
  src: url('./MAGIC.TTF')  format('truetype');
}
.fullPage {
	height : 95vh;
	overflow: auto;
}
body, html {
  height: 100%;
}
.background {
  /* The image used */
  /*background-image: url("https://media3.s-nbcnews.com/j/streams/2013/august/130830/8c8802640-mtg.nbcnews-ux-2880-1000.png");*/
  background-image: url("/backgroundImg2.png");
  background-repeat: repeat-y;

  /* Full height */
 /* height: 100%;*/
  min-height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  /*background-repeat: no-repeat;*/
  background-size: cover;
}
.header {
  height: 6vh;
}
.moveDown {
  margin-top: 1vh;
  font-size: 1.25em;
  font-family: "verdana";
}
.transparentNav {
  border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}
.hidden {
	display: none;
}
.card-page{
  position: relative;
  top: 20vh;
}
.magic-font{
  font-family: "magic";
}
.banner{
  position: absolute;
  bottom: 68%;
}
.quoteEen{
  float: left;
  position: relative;
  top: 15px;
  left: 100px;
  display: none !important;
}
.cart{
  height: 50px;
  width: 50px;
  position: relative;
  bottom: 5px;
}
.price{
  font-weight: bold;
  font-family: comic sans-serif;
}
.search{
  top: 5px;
  position: relative;
}
.cardImage{
  width: 40%;
  height: 40%;
  float:left;
}
.details{
  position: relative;
  left: 71px;
  font-family: "magic";
}
.detail{
  margin: auto;
  width: 50%;
}
.detailsText{
  float: right;
  position: relative;
  right: 30px;
  width: 350px;
  height: 300px;
  font-family: comic sans-serif;
  font-size: larger;

}
nav.navbar.navbar-expand-lg.navbar-light.bg-dark.text-white.header {
  float: right !important;
  position: relative;
  right: 105px;
  top: 15px;
  font-family: "magic";
  font-size: larger;
}
.accordion {
  width: 100%;
  height: 450px;
  overflow: hidden;
  margin: 0px auto;
}

#laadDiv{
margin: auto;
width: 5%;
text-align: center;
margin-top: 25%;
color: orange;
}
#addDeck{
  height: calc(100% - 2.5rem);
}
#addDeckBackground{
  color: orange;
  text-align: center;
  display: table;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.center {
  vertical-align: middle;
  display: table-cell !important;
  background-color: rgba(0,0,0,0.2);
  height: 100%;
}

.TitleCard :hover{
	text-decoration: none !important;
}
