body {
  font-family: "comic sans-serif";
}

@font-face {
  font-family: "magic";
  src: url('./MAGIC.TTF')  format('truetype');
}
.fullPage {
	height : 95vh;
	overflow: auto;
}
body, html {
  height: 100%;
}
.background{
  background-repeat: repeat-y;

  /* Full height */
 /* height: 100%;*/
  min-height: 94vh;
  /* Center and scale the image nicely */
  background-position: center;
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
}
.background-normal {
  /* The image used */
  /*background-image: url("https://media3.s-nbcnews.com/j/streams/2013/august/130830/8c8802640-mtg.nbcnews-ux-2880-1000.png");*/
  background-image: url("/NorMagic2.jpg");
}
.background-black {
  /* The image used */
  /*background-image: url("https://media3.s-nbcnews.com/j/streams/2013/august/130830/8c8802640-mtg.nbcnews-ux-2880-1000.png");*/
  background-image: url("/BlackMagic2.jpg");
}
.background-white {
  /* The image used */
  /*background-image: url("https://media3.s-nbcnews.com/j/streams/2013/august/130830/8c8802640-mtg.nbcnews-ux-2880-1000.png");*/
  background-image: url("/WhiteMagic2.jpg");
}
.background-green {
  /* The image used */
  /*background-image: url("https://media3.s-nbcnews.com/j/streams/2013/august/130830/8c8802640-mtg.nbcnews-ux-2880-1000.png");*/
  background-image: url("/GreenMagic2.jpg");
}
.background-blue {
  /* The image used */
  /*background-image: url("https://media3.s-nbcnews.com/j/streams/2013/august/130830/8c8802640-mtg.nbcnews-ux-2880-1000.png");*/
  background-image: url("/BlueMagic2.jpg");
}
.background-red {
  /* The image used */
  /*background-image: url("https://media3.s-nbcnews.com/j/streams/2013/august/130830/8c8802640-mtg.nbcnews-ux-2880-1000.png");*/
  background-image: url("/RedMagic2.jpg");
}
.background-colorless {
  /* The image used */
  /*background-image: url("https://media3.s-nbcnews.com/j/streams/2013/august/130830/8c8802640-mtg.nbcnews-ux-2880-1000.png");*/
  background-image: url("/ColorlessMagic2.jpg");
}
.header {
  height: 6vh;
}
.moveDown {
  margin-top: 1vh;
  font-size: 1.25em;
  font-family: "verdana";
}
.Ctitle{
  text-align: center;
}
.payment{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.home {
  font-size: 1.25em;
  font-family: "verdana";
}
.tableDelete{
  margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 13vh;
    border: black solid;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
}
.table-striped{
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
}
.tableDelete, .thDelete, {
  border: black solid;
}
#Delete{
  border: black solid;
}
.thDelete{
  border: black solid;
}
.titlePage{
  text-align: center;
}
.transparentNav {
  border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}
.hidden {
	display: none;
}
.card-page{
  padding-bottom : 200
}
.magic-font{
  font-family: "magic";

}
.banner{
  position: absolute;
  bottom: 68%;
}
.quoteEen{
  float: left;
  position: relative;
  top: 15px;
  left: 100px;
  display: none !important;
}
.cart{
  height: 50px;
  width: 50px;
  position: relative;
  bottom: 5px;
}
.price{
  font-weight: bold;
  font-family: comic sans-serif;
}
.search{
  top: 5px;
  position: relative;
}
.cardImage{
  width: 40%;
  height: 40%;
  float:left;
}
.details{
  position: relative;
  left: 71px;
  font-family: "magic";
}
.detail{
  margin: auto;
  width: 50%;
}
.detailsText{
  float: right;
  position: relative;
  right: 30px;
  width: 350px;
  height: 300px;
  font-family: comic sans-serif;
  font-size: larger;

}
nav.navbar.navbar-expand-lg.navbar-light.bg-dark.text-white.header {
  float: right !important;
  position: relative;
  right: 105px;
  top: 15px;
  font-family: "magic";
  font-size: larger;
}
.accordion {
  width: 100%;
  height: 450px;
  overflow: hidden;
  margin: 0px auto;
}

#laadDiv{
margin: auto;
width: 5%;
text-align: center;
/*margin-top: 25%;*/
color: orange;
height: 92vh;
}
#addDeck{
  height: calc(100% - 2.5rem);
}
#addDeckBackground{
  color: orange;
  text-align: center;
  display: table;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.center {
  vertical-align: middle;
  display: table-cell !important;
  background-color: rgba(0,0,0,0.2);
  height: 100%;
}

.TitleCard :hover{
	text-decoration: none !important;
}
/*.bgTrans {
  background-color: rgba(255,255,255,0.55);
}
  padding-top: 1vh;
  padding-bottom: 1vh;
}*/
.handOnHover{
  cursor: pointer;
}

.bold{
  font-weight: bold;
}
.filterHeader{
  font-size: 24px;
}
.moveFilterBar{
  float: right;
}
div.bgtrans {
  margin-right: 0;
  margin-left: 0;
}

.history {
  margin-bottom: 5px;
}

.centerItems {
  text-align: center;
}

.historyModel {
  margin-top: 0%;
  margin-bottom: 0%;
  height: 100vh;
  overflow: auto;
}

.historyModelBody {
  margin: auto;
}

.historyTotal {
  font-weight: bold;
}
.deckPage{
  height: 1.5rem;
}
.deckBar{
background-color: rgba(221, 221, 221, 0.7)
}
.seperateText{
  margin-right: 10px;
}
label.form-check-label.showLands {
  margin-right: 10px;
  margin-top: 1px;
}